body{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
}
.orange-font{
    color: orange;
}
h1{
    font-size: 50px;
    color: gray;
}
h2{
    font-size: 40px;
    color: gray;
}
h3{
    font-size: 35px;
    font-weight: 900;
}
#para-clr{
    color: dimgray;
    margin-bottom: 7%;
    text-align: justify;
}
p{
    margin-bottom: 7%;
    text-align: justify;
}
.link-btn{
    background-image: linear-gradient(orange, tomato);
    text-decoration: none;
    color: white;
    padding: 15px 30px;
    border-radius: 30px; 
}
.container{
    display: flex;
    margin-top: 2%;
    margin-bottom: 5%;
}
.half-width{
    width: 50%;
    padding-left:5% ;
}
.half-width img{
    width: 90%;
}
.about-part{
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.text-center p{
    width: 60%;
}
.text-center{
    padding-top: 3%;
}
.recipies{
    text-align: center;
}
.recipies p{
    text-align: center;
}
.recipie-card{
    box-shadow: 5px 5px 5px 5px lightgrey;
    width: 30%;
    margin-top: -5%;
    border-radius: 18px;
    padding: 10px;   
}
.recipie-card img{
    width: 100%;
}
.first-box{
    margin-left: 5%;
}
.second-box{
    margin-left: 5%;
}
.third-box{
    margin-left: 5%;
    margin-right: 5%;
}
.follower{
    box-shadow: 2px 2px 2px 2px lightgray;
    width: 90%;
    margin-left: 5%;
    border-radius: 15px;
    margin-bottom: 5%;
}
.follower div{ 
    margin: 0 auto;
}
.popularity{
    padding-bottom: 20px;
}
.last-part{
    background-color: black;
    height: 250px;
    padding-top: 8px;
}
#eat-clr{
    color: white;
}
#network-clr{
    color: dimgray;
}